/* Blog landing page */
.news .left-content { width: 640px; overflow: hidden;}
.news .articles-container { padding: 0 75px 0 75px; }

.news .comments-link { padding-left: 16px; background: url("../../../estatico/imagenes/iconos/speech-bubble.gif") 0 4px no-repeat; vertical-align: top; display: inline-block;}
.news .comments-link:hover { background-position: 0 -12px; }

.news .blog-articles .article-wrapper { display: block; margin-left: 20px; position: relative; background: url("../../../estatico/imagenes/ui/blog-seperator.gif") 0 0 repeat-x; padding: 20px 0 20px 0;}

.news .blog-articles .article-wrapper .article-image { float:left; overflow:hidden; height: 96px; width: 190px; display: block; border: 1px solid #483a30; background-size: cover; background-position: center center; border-radius: 3px; box-shadow: inset 0 0 1px 1px #000;}
.news .blog-articles .article-wrapper .article-image .article-image-frame { display:none; background-color: rgba(0, 0, 0, 0.2); height: 100%; width: 100%; }
.news .blog-articles .article-wrapper .article-content { padding: 0 0 0 15px; overflow: hidden;}
.news .blog-articles .article-wrapper .article-content .header-2 { display: block; letter-spacing: -0.5px; margin: -1px 0 3px 0; font-size: 20px; line-height: 21px; font-family: "Palatino Linotype"; text-transform: none; }
.news .blog-articles .article-wrapper .article-content .article-summary { float:left; color: #a99877; width: 409px; }

.news .blog-articles .article-wrapper .article-content .article-summary,
.news .blog-articles .article-wrapper .article-content .article-summary * { font-size: 13px !important; line-height: 19px !important; padding: 0 !important; margin: 0 !important; font-family: Arial, Helvetica, sans-serif !important; text-align: left !important; }
.ko-kr.news .blog-articles .article-wrapper .article-content .article-summary * { font-family: Dotum !important; font-size: 13px !important; }

.news .blog-articles .article-wrapper .article-meta { color: #6D624C; margin: 4px 0 0 208px; width: 100%; font-size: 12px; line-height: 18px;}
.news .blog-articles .article-wrapper .article-meta .comments-link { float: left;}
.news .blog-articles .article-wrapper .article-meta .publish-date { margin-left: 11px;}
.news .blog-articles .article-wrapper .article-meta .edit-article { font-size:12px; padding-left:20px; margin-left: 11px; }
.news .blog-articles .article-wrapper .article-meta .edit-article:hover { text-decoration: underline; }

.news .blog-articles .article-wrapper:hover .article-image { border: 1px solid #824c06; }
.news .blog-articles .article-wrapper:hover .article-image .article-image-frame { display: block; }
.news .blog-articles .article-wrapper:hover .article-content .header-2 { color: #fff; }

.news .blog-load-more { margin: 30px 0 0 20px; }

.news .blog-load-more .load-more { display:block; background-color: #0A0908; text-align:center; padding:10px; border-radius:10px; font-size:10px; text-transform:uppercase }
.ko-kr.news .blog-load-more .load-more { font-size: 11px; }
.news .blog-load-more .load-more.loading { background: #0A0908 url("../../../estatico/imagenes/loaders/brighter.gif") 50% no-repeat; text-indent: -9999px; }

/* Featured News */
.news .featured-news { text-align: center; overflow: hidden; padding: 0 0 15px 20px; background:url("../../../estatico/imagenes/homepage/featured-bg.jpg") 4px 0 no-repeat;}
.news .featured-news li { display: block; text-align: left; vertical-align: bottom; margin-top: 20px; float: left;}
.news .featured-news .article-wrapper { display: block; width: 193px; height: 167px; overflow:hidden;  position: relative; padding-right: 13px;}
.news .featured-news .article-wrapper .article-image { height: 96px; width: 190px; display: block; border: 1px solid #483a30; background-size: cover; background-position: center center; border-radius: 3px; box-shadow: inset 0 0 1px 1px #000;}
.news .featured-news .article-wrapper:hover .article-image { border: 1px solid #824c06; }

.news .featured-news .article-wrapper .article-content { padding-top: 10px; height: 40px; display: block; overflow: hidden; }
.news .featured-news .article-wrapper .article-content .article-title {color: #CF590B; font-size:14px; margin-bottom: 5px; display: block; max-height: 40px; overflow: hidden;}
.news .featured-news .article-wrapper .article-content .article-title:hover {color: #FFF;}

.ko-kr.news .featured-news .article-wrapper .article-content .article-title { font-weight: bold; }
.news .featured-news .article-wrapper .article-content .article-summary { display: none;}
.news .featured-news .article-wrapper .article-content .article-summary * { background-color: transparent !important; font-size: 13px !important; color: #444 !important; line-height: 18px !important; padding: 0 !important; margin: 0 !important; font-family: Arial, Helvetica, sans-serif !important; text-align: left !important; display: inline !important;}
.ko-kr.news .featured-news .article-wrapper .article-content .article-summary * { font-family: Dotum !important; font-size: 12px !important; }

.news .featured-news .article-wrapper .article-meta { position: absolute; bottom: 0; font-size: 12px;}
.news .featured-news .article-wrapper .publish-date { margin-left: 10px; color: #6D624C; font-size: 12px; }


/* sidebar */
.sidebar { background: url("../../../estatico/imagenes/homepage/sidebar-bg.jpg") repeat-y; }
.sidebar .sidebar-top { background: url("../../../estatico/imagenes/homepage/sidebar-top.jpg") 0 0 no-repeat;  padding-top: 35px; }
.sidebar .sidebar-bot { background: url("../../../estatico/imagenes/homepage/sidebar-bot.jpg") 0 100% no-repeat; padding: 25px 15px 160px 25px; min-height: 200px; position: relative; }
.sidebar .sidebar-loading { background: url("../../estatico/imagenes/loaders/sidebar.gif") 50% 75% no-repeat; padding: 75px 25px; text-align: center; color: #4b2724; width: 260px; top: 0; left: 25px; position: absolute; }

.sidebar-module { margin: 25px 0; }
.sidebar-module .sidebar-title { padding-bottom: 6px; border-bottom: 2px solid #4b2724; }
.sidebar-module .sidebar-content { color: #351f1a; }
.sidebar-module .sidebar-content .featured-news { background:  none; }
.sidebar-module .sidebar-content .featured-news .featured .date { color: #71401f; }

.sidebar-banners {overflow: hidden; }
.sidebar-banners .sidebar-module .sidebar-title { margin-bottom: 7px; }
.sidebar-banners .sidebar-module .sidebar-title:hover .icon-16-rarrow { background-position: -68px -16px; }
.sidebar-banners .banner { width: 300px; height: 112px; margin: 0 auto; display: block; border: 1px solid #483a30; overflow: hidden; box-shadow: 0 0 6px #000; border-radius: 4px; }
.sidebar-banners .banner:hover { border-color: #645245; }
.sidebar-banners .banner .title { letter-spacing:-1px; display: block; text-align: left; padding: 13px 90px 0 17px; color: #F3E6D0; font-size: 20px; line-height: 20px; font-family: "Palatino Linotype", "Times", serif ; }
.sidebar-banners .banner .subtitle { display: block; text-align: left; padding: 0 90px 0 17px; color: #a99877; text-shadow: 1px 1px 5px #000, -1px -1px  5px #000, 0 -1px 5px #000, -1px 0 5px #000; }
.sidebar-banners .banner:hover .title,
.sidebar-banners .banner:hover .subtitle { color: #fff; }

.sidebar-banners .banner-game-guide { margin: 15px auto; background: url("../../estatico/imagenes/sidebar/banner-game-guide.jpg") 0 0 no-repeat; }
.sidebar-banners .banner-console { background: url("../../estatico/imagenes/sidebar/banner-console.jpg") 0 0 no-repeat; }
.sidebar-banners .banner-console .title { max-width: 170px;}
.sidebar-banners .banner-reaper-of-souls { background: url("../../estatico/imagenes/sidebar/banner-reaper.jpg") 0 0 no-repeat; }
.zh-tw .sidebar-banners .banner-reaper-of-souls { background-image: url("../../estatico/imagenes/sidebar/banner-reaper_zh-tw.jpg"); }

.sidebar-banners .banner-presale-marketing { background: url("../../estatico/imagenes/sidebar/banner-marketing.jpg") 0 0 no-repeat; }
.sidebar-banners .banner:hover { background-position: 0 -112px; }

.sidebar-banners .banner-gear-store { width: 300px; height: 110px; background: url("../../estatico/imagenes/sidebar/diablo-gear-banner.jpg") 0 0 no-repeat; }
.sidebar-banners .banner-gear-store:hover { background-position: 0 -110px; }
/* Locale specific banners */
.ko-kr .sidebar-banners .banner-gear-store { background: url("../../estatico/imagenes/sidebar/banner-gear-store-kr.jpg") 0 0 no-repeat; }

/* pt_BR, ko_KR, zh_TW still use the original PS3 console page */

.ko-kr .sidebar-banners .banner-console .title { max-width: 180px;}


.ie6 .sidebar { overflow: hidden; zoom: 1; }
.ie6 .sidebar .sidebar-top { zoom: 1; }
.ie6 .sidebar .sidebar-bot { zoom: 1; height: 200px; }

/* sharing */
.news .community-share { background: url("../../estatico/imagenes/layout/divider-alt.jpg") 50% 0 repeat-x; padding:25px 5px 0 5px; height:30px }
.news .community-share .like-wrapper { max-width:530px }
.news .keyword-list { border: none; color: #71401F; background: url("../../estatico/imagenes/layout/divider.jpg") 50% 0 repeat-x; padding-top: 25px;}
.cjk.news .keyword-list strong { font-weight:normal }

/* recent articles, trending topics */
.articles-list-plain li { border-bottom: 1px solid #351F1A; padding:10px 5px }
.articles-list-plain li .article-block { display:block }
.articles-list-plain li .title { display:block; line-height:1.3em; word-wrap:break-word }
.articles-list-plain li .date { color:#7B6D55; font-size:11px }
.articles-list-plain li .category { color:#877B69; font-size:11px }
.articles-list-plain li .category:hover { color:#FFF }
.articles-list-plain li .category + .date:before { content:" - "; color:#351F1A }
.articles-list-plain li a:hover .date { color:#a99877 }

.cjk .articles-list-plain li .date { font-size:12px }
.cjk .articles-list-plain li .category { font-size:12px }

/* blog - disabled comments notice */
.disabled-comments-msg { padding:20px; text-align:center; border-radius:10px; margin-bottom:20px; }

/* Language fixes */
.pt-br .sidebar-banners .banner .title { font-size: 17px }
.ru-ru .sidebar-banners .banner .title { font-size: 16px }
.ko-kr .sidebar-banners .banner .title { font-size: 18px; padding-right: 50px; line-height: 25px; font-family: Kodia; }